body {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

footer {
    background: $site-color-black;
    color: $site-color-white;
    height: 100px;
    position: absolute;    
    width: 100%;
    display:inline-block;
    /*    
    left: 0;
    right: 0;
    */
    //bottom: 0;
    text-align: center;
}

section{
    display: inline-block;
}

.body-content{
    display: block;
}